.imagen-card {
    height: 500px;
    background:none!important;
}

.titulo-pelicula {
    background-image: linear-gradient(to bottom, rgba(24, 22, 22, 0.753), rgba(31, 26, 26, 0.151));
    top: 0%;
    position: absolute;
    text-shadow: -1px -1px 0 #24202059,  
    1px -1px 0 #1d1c1c54,
   -1px  1px 0 #1a181849,
    1px  1px 0 #2b292954;
    color: rgb(253, 249, 249) !important;
}

.card-body{
    color: white !important;
    position: absolute;
    bottom: 0%;
    background-image: linear-gradient(to top, rgba(32, 28, 28, 0.733), rgba(31, 26, 26, 0.596), rgba(0, 0, 0, 0.034));
}

.texto-resumen{
    width: 100% !important;
    height: 100px;
    overflow-x: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.genero-anio{
    text-shadow: -1px -1px 0 #24202059,  
    1px -1px 0 #1d1c1c54,
   -1px  1px 0 #1a181849,
    1px  1px 0 #2b292954;
}

.texto-resumen::-webkit-scrollbar{
    border-radius: 10px;
}

.texto-resumen::-webkit-scrollbar-thumb{
    border-radius: 20px;
    height: 10px;
    background: rgba(155, 9, 9, 0.692);
}

.main-css{
    background-color: rgb(25, 25, 27);
}

.editar-pelicula {
    color: white !important;
    position: absolute !important;
    top: -2% !important;
    right: 0% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    
    background: rgba(248, 71, 71, 0.849) !important;
    transition: all 0.3s ease-in-out !important;
}

.editar-pelicula:hover {
    background: rgba(248, 71, 71) !important;
}

.imagen-card:hover .editar-pelicula {
 top: 0% !important;
 opacity: 1 !important;
 z-index: 10;
}

.contenedor-card{
    cursor: pointer;
    transition: all 0.3s;
}

.contenedor-card:hover{
    transform: scale(1.02);
}
